@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

/**! Custom **/
:root {
  --first-color: rgba(32, 32, 32, 1);
  --first-alpha-color: rgba(32, 32, 32, 0.75);
  --second-color: rgba(46, 204, 133, 1);
  --second-alpha-color: rgba(46, 204, 133, 0.85);
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --font: 'Rubik', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}
/**! Custom **/

/**! Reset **/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}
/**! Reset **/

/*! Recycle */

.section {
  padding: 2rem 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

/** ContactForm **/
.contact-form {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 800px;
  height: 58vh;
}

.contact-form > * {
  padding: .5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: .85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  border-bottom: thin solid var(--gray-dark-color);
  padding-left: 0;
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all .5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

.contact-form-response {
  padding: 1rem;
  width: 300px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
  fill: var(--second-color);
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}

/** ContactForm **/

/** Portfolio **/
.portfolio-card {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 2vh auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Evita que ciertas imagenes pierdan la proporcion de la img */
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1vh;
  background-color: var(--second-alpha-color);
  color: var(--first-color);
  opacity: 0;
  pointer-events: none;
  transition: all .6s ease-in-out;
  font-size: 1.1rem;
  text-align: center;
}

.portfolio-card-info svg {
  fill: var(--first-color);
  height: 4vh;
  width: 4vh;
  padding: .5vh;
  background-color: var(--white-color);
  border-radius: 100%;
}

.portfolio-card-info svg:hover {
  background-color: var(--white-alpha-color);
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
  cursor: auto;
}

.portfolio-card-info > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-card-info button {
  background-color: white;
  border: none;
  padding: .7vh;
  height: 4vh;
  width: 4vh;
  border-radius: 100%;

}

.portfolio-card-info button:hover {
  cursor: pointer;
}

/** Portfolio **/
/*! Recycle */



/**! Site-Styles **/
/** About */

.about {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 2vh;
}

.about h1{
  margin-top: 2vh;
}

.about p {
  max-width: 800px;
}

.btn {
  border-radius: .4rem;
  padding: 2vh;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: var(--first-color);
  background-color: var(--second-color);
  margin: 1.5vh;
}

.btn:last-child {
  background-color: var(--white-color);
}

.btn:last-child:hover {
  color: var(--second-color);
  background-color: var(--white-alpha-color);
}

.btn-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.btn:hover {
  color: white ;
}

.img-container img {
  border: solid 7px var(--white-color);
  border-radius: 100%;
  width: 30vh;
  height: 30vh;
  padding: 0.5vh;
}

.img-container > div {
  border: solid 4px var(--first-color);
  border-radius: 100%;
}

/** About */


/** Contact **/
.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--second-color);
}

.social-media > a > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-alpha-color);
}

.social-media > a > svg:hover {
  fill: var(--second-color);
  transition: 0.3s ease-in;
}

.social-media a {
  padding: 0 0.4rem;
  text-decoration: none;
}

.contact {
  justify-content: center;
  align-items: center;
  height: 98vh;
}

/** Contact **/

/** Footer **/
.footer {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--second-color);
  color: var(--white-color);
  margin: 0;
}

.footer a {
  color: var(--first-color);
}
/** Footer **/

/** Proyects & Skills **/
.proyects_skills {
  padding-top: 2vh;
  height: 100%;
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Toggle-Btn */
.toggle-btn-container {
  display: flex;
  width: 40vh;
  background-color: rgb(43, 43, 43);
  border-radius: .5rem;
  padding: 1vh .5vh 1vh .5vh;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn-1, .toggle-btn-2 {
  text-align: center;
  outline: none;
  border: 0;
  width: 30vh;
  height: 8vh;
  border-radius: .5rem;
  text-decoration: none;
  color: var(--white-color);
  background-color: transparent;
  margin: 0 .5vh 0 .5vh;
  font-weight: bold;
  font-size: 1rem;
}

.toggle-btn-1:hover, .toggle-btn-2:hover {
  background-color: var(--first-alpha-color);
}

/* Toggle-Btn */

/** Services **/
.service-card {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(43, 43, 43);
  color: var(--white-color);
  
}

.service-card svg {
  margin-bottom: .5rem;
  fill: var(--second-color);
}

.service-card h3 {
  margin-bottom: 1rem;
}

/** Services **/



/** Proyects & Skills **/



@media screen and (min-width: 768px){

  .toggle-btn-container {
    width: 60vh;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  /* Proyects & Skills */
  .proyects_skills > .container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
  }

  .proyects_skills .section-title {
    grid-column: span 2;
  }
  
  .portfolio-modal {
    max-width: 800px;
    flex-direction: row;
  }

  .portfolio-info {
    align-self: center;
  }

  /* Cambiar o eliminar para ajustar la img */
  .portfolio-modal img {
    width: 50%;
  }
  /* Proyects & Skills */

}


@media screen and (min-width: 1024px){
  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }

  .footer {
    margin-bottom: 0;
  }

  .proyects_skills > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .proyects_skills .section-title {
    grid-column: span 3;
  }


  .services > .container {
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    grid-column: span 3;
  }

}



/**! Site-Styles **/

/*! Content-JS */
.none {
  display: none;
}

.show {
  display: block;
}

.select {
  background-color: var(--first-color);
}

/*! Content-JS */
